.arrow.up:after{
	content: "" !important;
        width: 15px !important;
        height: 15px !important;
        display: inline-block !important;
        background-repeat: no-repeat !important;
        background-image: url(http://c.thumbs.redditmedia.com/ZWchTpB6uY7uHBZD.png) !important;
        background-position: -15px -0px !important;
}

.arrow.upmod,
.arrow.up {
}

.arrow.upmod:after {
	content: "" !important;
        width: 15px !important;
        height: 15px !important;
        display: inline-block !important;
        background-repeat: no-repeat !important;
        background-image: url(http://c.thumbs.redditmedia.com/ZWchTpB6uY7uHBZD.png) !important;
        background-position: 0px 0px !important;
        -webkit-transition-property: background-position; transition-duration: 0s; transition-delay: 2.7s !important;

}

.arrow.up:hover:after {
		
}



.compressed .arrow:not(.prev):not(.next) {
	margin: 1px 0;
}



.content .midcol,.content .commentarea .comment {overflow:visible !important;}
.arrow.upmod{

  animation: catchBall ease 1.5s !important;
  animation-iteration-count: 1 !important;
  -webkit-animation: catchBall ease 2.7s !important;
  -webkit-animation-iteration-count: 1 !important;

}


@keyframes catchBall{
  0%   {transform: rotate(0deg); transform-origin: center bottom 0;}
  4%   {transform: rotate(35deg); transform-origin: center bottom 0;}
  8%   {transform: rotate(0deg); transform-origin: center bottom 0;}
  12%   {transform: rotate(-35deg); transform-origin: center bottom 0;}
  16%   {transform: rotate(0deg); transform-origin: center bottom 0;}
  40%   {transform: rotate(0deg); transform-origin: center bottom 0;}
  44%   {transform: rotate(35deg); transform-origin: center bottom 0;}
  48%   {transform: rotate(0deg); transform-origin: center bottom 0;}
  52%   {transform: rotate(-35deg); transform-origin: center bottom 0;}
  56%   {transform: rotate(0deg); transform-origin: center bottom 0;}
  70%   {transform: rotate(0deg); transform-origin: center bottom 0;}
  74%   {transform: rotate(35deg); transform-origin: center bottom 0;}
  78%   {transform: rotate(0deg); transform-origin: center bottom 0;}
  82%   {transform: rotate(-35deg); transform-origin: center bottom 0;}
  86%   {transform: rotate(0deg); transform-origin: center bottom 0;}
  100%   {transform: rotate(0deg); transform-origin: center bottom 0;}
}

@-webkit-keyframes catchBall{
  0%   {-webkit-transform: rotate(0deg); -webkit-transform-origin: center bottom 0; }
  4%   {-webkit-transform: rotate(35deg); -webkit-transform-origin: center bottom 0;}
  8%   {-webkit-transform: rotate(0deg); -webkit-transform-origin: center bottom 0;}
  12%   {-webkit-transform: rotate(-35deg); -webkit-transform-origin: center bottom 0;}
  16%   {-webkit-transform: rotate(0deg); -webkit-transform-origin: center bottom 0;}
  40%   {-webkit-transform: rotate(0deg); -webkit-transform-origin: center bottom 0;}
  44%   {-webkit-transform: rotate(35deg); -webkit-transform-origin: center bottom 0;}
  48%   {-webkit-transform: rotate(0deg); -webkit-transform-origin: center bottom 0;}
  52%   {-webkit-transform: rotate(-35deg); -webkit-transform-origin: center bottom 0;}
  56%   {-webkit-transform: rotate(0deg); -webkit-transform-origin: center bottom 0;}
  70%   {-webkit-transform: rotate(0deg); -webkit-transform-origin: center bottom 0;}
  74%   {-webkit-transform: rotate(35deg); -webkit-transform-origin: center bottom 0;}
  78%   {-webkit-transform: rotate(0deg); -webkit-transform-origin: center bottom 0;}
  82%   {-webkit-transform: rotate(-35deg); -webkit-transform-origin: center bottom 0;}
  86%   {-webkit-transform: rotate(0deg); -webkit-transform-origin: center bottom 0;}
  100%   {-webkit-transform: rotate(0deg); -webkit-transform-origin: center bottom 0;}

}






